<a href='/'>Home</a> | 
<a href='/news?country=gb&page=1'>UK</a> | 
<a href='/news?country=us&page=1'>US</a> | 
<a href='/news?country=de&page=1'>DE</a> | 
<a href='/news?country=fr&page=1'>FR</a> | 
<a href='/news?country=pt&page=1' class="m-r-10">PT</a>