<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head', { title }); -%>
  </head>
  <body>
    <%- include('partials/navigation'); -%>
    <main class="container">
      <%- include(content); -%>
    </main>
  </body>
</html>